:root{
    --color-mantis:#62C670;
    --color-pomb-and-power:#7c5e99;
    --color-eggshell:#EAE6DA;
    --color-fiery-rose: #f25a70;
    --color-floral-white:#FFFCEE;
    --color-container:rgb(30, 23, 41);
    --color-cards-container: rgb(31, 20, 32);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 10px;
}

html,body{
    background-color: var(--color-container);
    font-family: 'Shizuru', cursive;
    height:100%;
    
}

h2{
    color:white;
    font-size: 2rem;
}

.container{
    width: 100%;
    height: 100%;
    display:flex;
    
    align-items: center;
    justify-content:space-evenly;
}

.cards-container{
    
    width: 100%;
    height: 400px;
    background-color:var(--color-cards-container);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}

.card{    
    cursor: pointer;
    text-align:center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10%;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.-pedra{
    
    width: 200px;
    height: 100px;
    background-color: rgb(146, 89, 37);
}

.-papel{
    
    width: 200px;
    height: 100px;
    background-color: rgb(20, 172, 172);
}

.-tesoura{
    
    width: 200px;
    height: 100px;
    background-color: rgb(13, 110, 110);
    
}

#reset{
    width: 200px;
    height: 50px;
    background-color: rgb(62, 27, 73);
    border:1px solid rgb(5, 5, 5);
    cursor: pointer;
}

#reset > h2{
    font-family: 'Shizuru', cursive;
    font-size:1.8rem;
}

.vs{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 200px;
    height: 400px;
    background-color:var(--color-container);
}

.cards-container-npc{
    position: relative;
    width: 100%;
    height: 400px;
    background-color:var(--color-cards-container);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.-pedra-Npc{
    position: absolute;
    display:none;
    width: 200px;
    height: 302px;
    background-color: rgb(238, 133, 34);
}

.-papel-Npc{
    position: absolute;
    display:none;
    width: 200px;
    height: 302px;
    background-color: aqua;
}

.-tesoura-Npc{
    position: absolute;
    display:none;
    width: 200px;
    height: 302px;
    background-color: rgb(79, 83, 83);
}

/*-------------------------------------------------------------------*/

.container2{
    
    width: 100%;
    height: 100%;
    display:none;
        
    align-items: center;
    
}

.win-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin:auto;
    width: 280px;
    height: 216px;
    background-color: var(--color-pomb-and-power);
    border: 4px solid var(--color-eggshell);
}

.start-button{
    width: 240px;
    height: 40px;
    background-color: var(--color-fiery-rose);
    border: 3px solid var(--color-eggshell);
    color:var(--color-floral-white);
    font-family: 'Shizuru', cursive;
    font-size:1.8rem;
    cursor: pointer;
}

.win-text{
    
    color:var(--color-mantis);
    font-size: 2.5rem;
}

.player-win{
    color:var(--color-eggshell);
    font-size: 1.8rem;
}